@import "tailwindcss";

@theme inline {
  --font-poppins: var(--font-Poppins-sans);
}
/* Colores individuales si los quieres usar en texto */
.green-bg {
  background-color: #009A67;
}

.purple-bg {
  background-color: #8D3AF3;
}

.sidebar-link:hover {
  color: #8D3AF3;
}
